html, body {
    height: 100%;
    margin: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
}

.grid-child {
    box-sizing: border-box;
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid #A9BADF;
}
.grid-child:hover {
    background-color: #748ECC;

}